

.feedBackContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  // background-color: black;
  backface-visibility: 2;
  background-image: url("../../Img/Slide3/slideImage2.jpg");
}
.feedContantContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  color: white;
}

.feedContant{
  font-size: 21px;
  background-color: rgba(0, 0, 0, 0.521);
  padding: 1.5rem;
  border: 3px solid white;
  border-radius: 10px;
  opacity: 1;
}

.feedName{
  font-size: 26px;
  font-weight: bolder;
}