.feedBackContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  // background-color: black;
  backface-visibility: 2;
  background-image: url(../../Img/HomeImg/slideImage2.jpg);
}
.feedContantContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  color: white;
}

.feedContant {
  font-size: 21px;
  background-color: rgba(0, 0, 0, 0.521);
  padding: 1.5rem;
  border: 3px solid white;
  border-radius: 10px;
  opacity: 1;
}

.feedName {
  text-shadow: 0px 0px 10px 2px white;
  font-size: 26px;
  font-weight: bolder;
  color: red;
}

@media only screen and (max-width: 1023px) {
  .col-xs-0.col-lg-4{
    display: none;
  }
  .col-xs-0.col-lg-4.col-md-6 {
    display: block;
  }
  
}

@media only screen and (max-width: 765px) {
  .col-xs-0.col-lg-4{
    display: none;
  }
  .col-xs-0.col-lg-4.col-md-6 {
    display: none;
  }
  .col-xs-12.col-md-6.col-lg-4{
    display: block;
  }
  
}
