.howItWorkContainer {
  background-color: red;
  padding: 4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transform: skewY(3deg);
  h2 {
    color: white;
  }
}

.howItWorkContainerInner {
  transform: skewY(-3deg);
}

.image {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  * {
    border-radius: 100px;
    height: 100%;
    width: 100%;
  }
}

.howItWorkRow {
  * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1030px) {
  .howWorkHeader {
    font-size: 1.5rem;
  }
  .howWorkIntro {
    font-size: 1.2rem;
  }

}


@media only screen and (max-width: 430px) {
  .howWorkHeader {
    font-size: 1.2rem;
  }
  .howWorkIntro {
    font-size: 1rem;
  }
  .howItWorkContainer{
    margin-right: 0;
    margin-left: 1.5rem ;
  }
}