



.loginContainer{
    position: fixed;
    display: flex;
    top: 15.5vh;
    left: 15vw;
    width: 70vw;
    height: 80vh;
    padding: 20px;
    box-shadow: 0px 0px 20px 2px;
    background-color: white;
    z-index: 35;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: auto;

    h1{
        margin-top: 3rem;
    }

}

.LoginBtns{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.LoginBtns *{
    margin-bottom: 1rem;
}

.loginWithGoogle{
    background-color: white;
    color: red;
}

.loginWithGoogle:hover{
    background-color: red;
    color: white;
}


.loginWithFb{
    background-color: white;
    color: blue;
}

.loginWithFb:hover{
    background-color: blue;
    color: white;
}

h1{
    text-align: center;
}


@media only screen and (max-width: 770px) {
 
    .loginContainer{
       
        top: 17.5vh;
        left: 17vw;
       
       
    }
   
  
  }


  @media only screen and (max-width: 430px) {
 
    .loginContainer{
       
        top: 17.5vh;
        left: 18vw;
       
    }
   
  
  }

  @media only screen and (max-width: 380px) {
 
    .loginContainer{
       
        top: 22.5vh;
        left: 20vw;
    width: 90vw;
       
    }
   
  
  }
