.navbarContainer {
  width: 100%;
  height: 15%;
  left: 0px;
  top: 0px;

  background: #f43d4b;
}

.inner_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.navbarInputContainer {
  // border: 2px black solid;
  height: 3rem;
  .navbarLocation {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
  }
  input {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
  }
  // div{
  //   border-right: 1px solid rgba(0, 0, 0, 0.741);
  //   border-left: 1px solid rgba(0, 0, 0, 0.741);
  // }

  .navbarStarting_date,
  .navbarEndingDate,
  .navbarRentBtn {
    height: 100%;
    width: 100%;
  }

  .navbarRentBtn {
    padding: 10px;
    background-color: rgb(55, 44, 44);
    color: white;
    font-weight: bold;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  .navbarRentBtn:hover {
    background-color: rgb(220, 127, 127);
    color: rgb(24, 11, 11);
  }
}

.row {
  margin: 0;
  padding: 0;
  * {
    margin: 0;
    padding: 0;
  }
  .material-icons {
    height: 100%;
    width: 100%;
    font-size: 36dp !important;
    display: flex !important;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .material-icons:hover {
    background-color: rgba(0, 0, 0, 0.501);
  }
}

.navbarLoginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .menuListItem {
    position: absolute;
    top: 2rem;
    left: -4rem;
    width: 12rem;
    padding: 10px;
    background: rgb(237, 228, 228);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    * {
      width: 90%;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
    }

    *:hover {
      background-color: rgba(0, 0, 0, 0.494);
      color: rgb(233, 208, 208);
    }
  }

  .loginBtn1 {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
    padding: 10px;
    border-radius: 15%;
    /* border: 2px solid; */
    color: #ffffff;
  }
  .loginBtn:hover {
    background-color: #1f1d1bb7;
  }
}

.navbarMenuBtn {
  width: 3rem !important;
  height: 2rem !important;
  background: none;
}

@media only screen and (max-width: 1024px) {
  .loginBtn1 {
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    height: 3rem;
    width: 6rem;
  }
}

@media only screen and (max-width: 770px) {
  .navbarContainer{
    position: fixed;
  }

  .iconContainer{
    height: 4rem;
  }
}

@media only screen and (max-width: 430px) {
 

  .iconContainer,.loginBtn1,.navbarMenuBtn{
    margin-top: -1rem;
  }

  .menuListItem {
  
    top: 1.2rem!important;
    left: -5rem!important;
    
  }

}
